@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Use the form below to create a new account.</h2>
</hgroup>

<p class="message-info">
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Tipping/Tipping.js"></script>
<script src="~/Scripts/Account/Password.js"></script>
<script type="text/javascript">
    alert("preReg");
    bindUrl("SendPassword_Account", "@Url.Action("SendPassword", "Account")");
    alert("postReg");
</script>

<fieldset>
    <legend>Registration Form</legend>
    <ol>
        <li>
            <span>E-mail: </span><input type="text" id="Email"/>
        </li>
    </ol>
    <div id="SendPassword">Send passord</div><span id="status"></span>
</fieldset>
