@{
    ViewBag.Title = "Glemt passord";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <p>Fyll ut e-posten du brukte ved registrering for å få tilsendt nytt passord.</p>
</hgroup>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Tipping/Tipping.js"></script>
<script src="~/Scripts/Account/Password.js"></script>
<script type="text/javascript">
    bindUrl("SendPassword_Account", "@Url.Action("SendPassword", "Account")");
</script>

<fieldset>
    <ol>
        <li>
            <span>E-mail: </span><input type="text" id="Email"/>
        </li>
    </ol>
    <input type="submit" id="SendPassword" value="Send passord" /><span id="status"></span>
</fieldset>
