@{
    ViewBag.Title = "Regler";
}
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</section>
}

<article>
    <p>
        <h3>Poengberegning for kamper:</h3>
        <ul>
            <li>4 poeng for eksakt riktig resultat</li>
            <li>2 poeng for riktig seierherre (dvs ikke uavgjorte kamper) og rett måldifferanse</li>
            <li>1 poeng for riktig uavgjorttips (uavhengig av resultat) eller riktig seierherre og feil måldifferanse</li>
            <li>0 poeng for feil tippetegn</li>
        </ul>
        
        Eksempler:
        <ul>
            <li>Resultat 2-1 og tips 2-1 gir 4 poeng</li>
            <li>Resultat 3-1 og tips 2-0 gir 2 poeng</li>
            <li>Resultat 2-2 og tips 1-1 gir 1 poeng</li>
            <li>Resultat 1-2 og tips 0-3 gir 1 poeng</li>
            <li>Resultat 3-1 og tips 1-2 gir 0 poeng</li>
        </ul>
    </p>

    <p>
        <h3>Poengberegning for bonusspørsmål:</h3>
        <ul>
            <li>Riktig tips av vinner og toppscorer i EM gir 10 poeng</li>
            <li>Feil tips av vinner og toppscorer i EM gir 0 poeng</li>
        </ul>
        
    </p>
</article>
