@{
    ViewBag.Title = "EM-tipping 2012";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            Registrer deg eller logg inn ved hjelp av linkene øverst til høyre, og kom i gang med tippingen nå!
        </p>
    </div>
</section>
}
<section>
        <p>
            <img src="~/Images/logo.jpg" width="100%"/>
        </p>
</section>

 